$some-green: #359377;
$gray-dark: #5f5f5f;
$dark-blue: #1b204a;
$gray-light: #ababab;
$gray-lightest: #d2d2d2;
$almost-white: #fefefe;
$article-border: #eee;
$article-box-shadow: #ccc;
$header-height: 40vh;
$left-menu-top: 50vh;
$left-menu-left: 2vw;
$opacity: rgba(0,0,0,0.5);

// COLORS
$teal: #63BDA2;
$teal-darker: #359377;
$gray-background: #F7F7F7;
$gray-table-border: #EEEEEE;
$gray-lightest: #D2D2D2;
$gray-light: #ABABAB;
$gray-medium: #898989;
$gray-dark: #5F5F5F;
$highlight: #FFEC5C;