@import 'constants';

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
}

h2 {
  font-size: 6vmin;
  line-height: 6vmin;
  margin: 1.25em 0;
}

/*
index.html posts previews
*/
.custom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  > .post-text-preview {
    flex-basis: 45%;
  }

  > .post-preview {
    flex-basis: 45%;
  }

  > .post-preview > img {
    max-width: 100%;
    max-height: 100%;
  }
}

.post-footer {
  font-size: 0.95rem;
  color: $gray-light;
  border: none;
  padding-top: 1.8em;
}

/*
cards
*/
article {
  width: 100%;
  border: 1px solid $article-border;
  box-shadow: 0 2px 3px $article-box-shadow;
  background-color: white;
  padding: 10px;
  margin: 25px auto;
  box-sizing: border-box;
}

/*
about page. languages stats
*/
#languages-result {

  th {
    background-color: $dark-blue;
    color: white;
    font-weight: bold;
  }

  td {
    padding: 0;

    a {
      display: block;
      padding: 10px;
    }
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
}

/*
hosted pages
*/
hr.hosted {
  margin-bottom: 65px;
}

#languages-result div span.rnb {
  color: $dark-blue;
  font-weight: bold;
}

#ohlc-macd-chart-price {
  display: block;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  font-size: 5vw;
}

.ohlc-macd-chart-sep {
  margin-bottom: 15px;
}

/*
css loader
*/
.lds-container {
  width: 100%;
  text-align: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $dark-blue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $dark-blue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img.icone {
  width: 16px;
  vertical-align: sub;
  margin-right: 2px;
}

/*
RWD
*/
@media (min-width: 768px) {

  h2 {
    font-size: 4vmin;
    line-height: 4vmin;
    margin: 1.25em 0;
  }

  #ohlc-macd-chart-price {
    height: 1.9em;
    line-height: 1.9em;
    font-size: 1.9em;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 4vmin;
    line-height: 4vmin;
    margin: 1.25em 0;
  }

}
