.simu-line {
  fill: none;
  stroke: steelblue;
  clip-path: url(#clip);
}
.simu-balance-line {
  fill: none;
  stroke: #cfb53b;
  clip-path: url(#clip);
}

.simu-zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

h3#titre {
  margin-bottom: 35px;
}